@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --box-shadow: .3125rem .3125rem .3125rem #0000001a;
}

img {
  max-width: clamp(18.72rem, 50vw, 37.5rem);
  display: block;
  border-radius: 0.938rem;
  object-fit: cover;
  object-position: top center;
  cursor: pointer;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
  font-weight: 400;
  padding: 2rem;
}

.container {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.938rem;
  box-shadow:  var(--box-shadow);
}

.container h1 {
  color: var(--dark-blue);
  margin-block-start: 1rem;
  margin-inline-start: 3rem;
  margin-inline-end: 2rem;
}

 p {
  color: var(--grayish-blue);
  margin-block-end: 2rem;
  margin-block-start: 1rem;
  margin-inline-start: 3rem;
  margin-inline-end: 3rem;
}

.attribution {
  font-size: 0.75rem;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
@media (hover:hover){
  .attribution a:hover {
    text-decoration: underline;
    font-weight: 700;
  }
}

@media (min-width: 31.25rem) {
  .container {
    width: 25rem;
  }
}
